@tailwind base;
@tailwind components;
@tailwind utilities;

.secondary_font {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.primary_font_200 {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}
.primary_font_400 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.primary_font_600 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.primary_font_900 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;

  /* line-height: 46px; */
}
