@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background-color: black; */
}

.secondary_font {
  /* font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal; */

  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.primary_font_200 {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}
.primary_font_400 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.primary_font_600 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.primary_font_900 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;

  /* line-height: 46px; */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* .react_icon {
  color: rgb(97, 218, 251);
  text-shadow: 0 0 0.5rem #fff 0 0 1rem #fff 0 0 1.5rem rgb(97, 218, 251);
} */

/* button animations */

.animated-button {
  position: relative;
  overflow: hidden;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.animated-button-hover {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  background-color: #0056b3;
  transition: height 0.3s ease-in-out;
}

.animated-button:hover .animated-button-hover {
  height: 100%;
}
